# Arquivos do Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Cache / build
bin/
obj/
*.db
*.cache
*.v2
*.idx
*.log
*.testlog
*.manifest

# Relatórios / Evidências
*.html
results/

# Configurações locais
*.local.json
